.sidebar{
    width: 72px;
    background: #151357;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.main {
    margin-left: 73px; /* Устанавливаем отступ слева, чтобы контент не перекрывался боковой панелью */
    min-width: 640px;
}

.header{
    background: #F7F9FC;
    height: 56px;
    display: flex;
    align-items: center;
}


.logo{
    position: absolute;
    left: 22.22%;
    right: 22.22%;
    top: 2%;
    bottom: 93%;

}

.sidebar__projects{
    position: absolute;
    left: 32.22%;
    right: 22.22%;
    top: 12%;
    bottom: 93%;
}

.sidebar__settings{
    position: absolute;
    left: 32.46%;
    right: 22.46%;
    top: 17.46%;
    bottom: 11.46%;
}

.header__project{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    align-items: center;

    /* Gray/900 */

    color: #222834;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__wrapper{
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}

.header__first-part{
    display: flex;
    gap: 10px;
}

.header__projects-number-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    margin-top:5px;
    width: 27px;
    height: 22px;

    /* Indigo/0 */

    background: #EDEDFC;
    border-radius: 13px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.header__projects-number{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: #5E5ADB;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__second-part {
    display: flex;
    gap: 24px;
}
